
.middle-section-container{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-start;
    width: 100%;
    flex: 1 1 auto;
    padding: 0 30px 30px 30px;
}

@media screen and (max-width: 1024px) {

    .middle-section-container {
        padding: 0 30px 0 30px
    }
}

@media screen and (max-width: 480px) {

    .middle-section-container {
        padding: 0 10px 10px 10px;
    }
}
