
.standard-button{

    z-index: 1;
    padding: 8px 25px 8px 25px;
    border-radius: 12px 3px 12px 3px;
    border-style: none;
    background-image: linear-gradient(to bottom right, 	hsla(195, 24%, 20%, 1),	hsla(190, 45%, 69%, 1));
    font-weight: bold;
    font-size: 18px;
    color: white;
    margin: 5px;

}

