.selectAllButton{
    z-index: 1;
    margin: 10px 0 10px 0;
    padding: 5px;
    width: 70%;
    max-width: 200px;
}

.category-grid-container{

    z-index: 1;
    display: flex;
    flex-direction: column;
    flex: 1 1 300px;
    max-width: 250px;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.category-grid{

    display: flex;
    flex: 0 1 auto;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.category-button{
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    max-width: 55px;
    max-height: 55px;
    padding: 10px;
    border: none;
    margin: 6px
}

.blue1{
    background-color: rgba(173, 232, 244, 0.5)
}

.blue2{
    background-color: rgba(0, 180, 216, 0.5)
}

.blue3{
    background-color: rgba(0, 119, 182, 0.5)
}

.blue4{
    background-color: rgba(2, 62, 138, 0.5);
}

.category-image{
    width: 90%;
    height: auto;
}

@media screen and (max-height: 600px) {

    .category-grid-container {
        max-width: 500px;
    }

    .category-button {
        max-width: 50px;
        padding: 5px;
        margin: 3px;
    }
}

@media screen and (max-width: 768px) {

    .category-grid-container {
        max-width: 500px;
    }

    .category-grid {
        height: auto;
        margin: 0 5px 0 0;
    }

    .category-button {
        max-width: 60px;
        height: auto;
        flex-wrap: wrap;
    }

    .selectAllButton {
        margin: 5px
    }
}

@media screen and (max-width: 480px) {


    .category-button {
        max-width: 50px;
        padding: 5px;
        margin: 3px;
    }
}

@media screen and (max-width: 380px) {

    .category-button {
        max-width: 45px;
    }
}