
.el-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: 0.6s ease-in-out;
}


.el-out{
    transform: translateX(0);
}

.el-in{
    transform: translateX(190px);
}

.el-container h1{
    font-size: 25px;
    font-family: "JetBrains Mono", monospace;
    flex-shrink: 2;
    width: 150px;
    max-height: 75px;
    padding: 0 0 10px 0;
    color: white;
    text-align: center;
}

.results-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 180px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow:  inset 0 0 15px var(--box-shadow-dark-grey);
    padding: 5px;
}

.results-container::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: lightgrey;
}

.results-container::-webkit-scrollbar-thumb {
    background: var(--blue-5);
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0 1px 2px var(--box-shadow-dark-grey);
}

.results-container::-webkit-scrollbar-corner {
    background: #000;
}

.el-list-item img{
    width: 70px;
}

.el-list-item{
    height: fit-content;
    width: 160px;
    padding: 10px;
    margin: 5px;
    box-shadow: inset 0 0 10px var(--box-shadow-dark-grey);
    font-family: Arial, serif ;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
}

.el-category-star-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.el-category-star-container img {

    width: 20px;
}

.el-search-result{
    background-color: var(--blue-1);
}

.el-search-result:hover {
    box-shadow: 0 5px 15px var(--box-shadow-dark-grey);
    background-color: hsla(170, 100%, 80%, 0.7);
}

.el-search-result-date-container{
    display: block;
}

.el-search-result h5{
    padding: 3px;
}

.el-list-item p{
    padding: 3px;
    font-size: 12px;
    color: var(--green-1);
    font-weight: bold;
    max-width: 400px;
}

.el-review{
    background-color: white;
}

.el-review legend{
    font-size: 10px;
    color: grey;
    font-weight: bold;
    text-align: center;
}

.el-review img{
    width: 40vw;
    max-width: 100px;
    padding: 5px;
}

.el-legend-image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1024px) {

    .el-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        transform: translateY(100px);
    }

    .el-out{
        height: 100%;
        transform: translateX(0px);
    }

    .results-container{
        flex-direction: row;
        width: 100%;
        overflow-x: auto;

    }

    .el-list-item{
        margin: 0 5px 0 5px;

        min-width: fit-content;
        height: 140px;
    }

    .el-container h1{
        rotate: 270deg;
        height: 45px;
        width: 60px;
        padding: 0;
        font-size: 20px;
    }
}



