
.date {
    width: 100%;
    padding: 8px;
    border-color: lightgrey;
    border-radius: 3px;
    border-style: solid;
    border-width: thin;
    font-size: 11px;
}

input[type="date"]:not(.has-value):before{
    color: #274E5C;
    content: attr(placeholder);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    z-index: 5;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    max-height: 30px;
    padding: 10px 20px 10px 10px ;
    background-color: #274E5C;
}

nav {
    display: flex;
    flex-direction: row;
    flex: 1 1 1366px;
    max-width: 1800px;
    justify-content: space-between;
    align-items: center;
    color: darkgoldenrod;
    font-weight: bold;
    text-decoration: none;
}

nav ul {

    font-size: 12px;
    list-style: none;
}

.nav-links-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.nav-right-side-links{
    display: flex;
}

a {
    color: lightgrey;
    font-weight: bold;
    text-decoration: none;
}

footer{

    width: 100%;
    height: 20px;

    background-color: #274E5C;
}

main {
    background-image: url("../../assets/blueAbstract.svg");
    background-position: center;
    background-size: 4000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.inner-main {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 50px);
    max-width: 1920px;
    width: 100%;
}

.leftSideBar-middleSection-container{
    display: flex;
    flex-direction: row;
    flex: 100 1 auto;
}

@media screen and (max-width: 1024px) {

    .inner-main {
        display: flex;
        flex-direction: column;
        width: 100vw;
        overflow-y: scroll;
    }
}

@media screen and (max-width: 768px) {

    header {
        max-height: 50px;
        padding: 10px;
    }

    nav ul li {
        padding: 5px;
        align-self: center;
        text-align: center;
    }

    .inner-main{
        height: calc(100vh - 65px);
    }

}

@media screen and (max-width: 480px){

    nav ul {
        font-size: 10px;
    }

    .nav-links-container{
        gap: 5px;
    }
}