
.rightSideBar-container {


    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    max-width: 300px;
    align-items: center;
    height: 100%;
    padding: 15px;
    box-shadow: inset -20px 0 15px rgba(5, 8, 8, 0.5);
}

.rightSideBar-container-shadow {


    box-shadow: -20px 0 15px rgba(5, 8, 8, 0.5);
    height: 100%;
    width: fit-content;
}

.empty-bar{
    width: 220px;
}

@media screen and (max-width: 1024px) {

    .rightSideBar-container{
        flex-direction: row;
        width: 100%;
        max-width: 100%;
        max-height: 160px;
        box-shadow: none;
        padding: 0;
    }
    .rightSideBar-container-shadow{
        width: 100%;
        max-height: 160px;
    }

}
