
/*////////////////////////
Table of Contents
1. Global Styles
2. Areas
2.1 Navigation
2.2 Header
3. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* ------------------------------- 2. Areas ---------------------------------------- */


/* --------------- 2.1 Navigation ------------------------- */

header {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  z-index: 1;
  max-height: 50px;
  padding: 10px 20px 10px 10px ;
  background-color: #274E5C;
}

nav {
  display: flex;
  flex-direction: row;
  flex: 1 1 1366px;
  max-width: 1800px;
  justify-content: space-between;
  align-items: center;
}

nav ul {

  display: flex;
  flex-direction: row;
  flex: 0 1 500px;
  justify-content: space-between;
  font-size: 12px;
  list-style: none;
}

a {
  color: lightgrey;
}

footer{
  z-index: 1;
  width: 100%;
  height: 20px;

  background-color: #274E5C;
}

main {
  background-image: url(/public/blueAbstract.svg);
  background-position: center;
  background-size: 4000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.inner-main {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 55px);
  max-width: 1920px;
  width: 100%;
}

.standard-button{

  width: 100px;
  height: 40px;
  z-index: 1;
}

.leftSideBar-container{
  position: relative;
  display: flex;
  z-index: 1;
  flex-direction: column;
  justify-content: center;
  flex: 0 1 400px;
  align-items: center;
  height: 100%;
  width: 100%;
  min-width: 300px;
  padding: 10px;
  box-shadow: inset 20px 0 15px rgba(5, 8, 8, 0.6 );
}
.leftSideBar-container-shadow{
  position: absolute;
  bottom: 0 ;
  box-shadow: 20px 0 15px rgba(5, 8, 8, 0.5 );
  height: 100%;
  width: 100%;
}

.leftSideBar-middleSection-container{

  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
}

.middle-section-container{
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  width: 100%;
  flex: 1 1 auto;
  padding: 0 30px 30px 30px;
}

.middle-plate {
  position: absolute;
  z-index: 1;

  height: 0;
  width: 100%;
  left: 0;
  background-color: rgba(0,0,0, 0.9);
  overflow: hidden;
  transition: height 0.5s;
  border-radius: 0 0 30px 30px;
}

.mid-drop-close-button{
  position: absolute;
  top: 20px;
  right: 20px;
  width: 60px;
  font-size: 60px;
  background-color: rgba(0,0,0, 0);
  border: none;
  color:white;
}

.mid-drop-close-button:hover{
 color: #274E5C

}

.title-logo-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex: 1 1 600px;
  max-height: 100px;

  padding: 15px 15px 15px 15px
}

.rightSideBar-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 0 1 350px;
  align-items: center;
  height: 100%;
  width: 100%;
  min-width: 235px;
  padding: 15px;
  box-shadow: inset -20px 0 15px rgba(5, 8, 8, 0.5);
}

.rightSideBar-container-shadow {
  position: absolute;
  box-shadow: -20px 0 15px rgba(5, 8, 8, 0.5);
  bottom: 1px;
  height: 100%;
  width: 100%;
}

.event-search-form {
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1 1 ;
  padding: 10px 10px 10px 10px;
  width: 100%;
  max-height: 100% ;
}

.event-create-form{

  padding: 50px;

}

.search-container{
  width: 220px;
  max-height: 30px;
  z-index: 2;
}

.search-locate-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.locate{
  width: 30px;
  height: 30px;
  margin: 0 0 0 10px;
}

.autocomplete-dropdown-container{
  font-family: Tahoma, serif;
  z-index: 2;
}

.location-search-input {
  width: 100%;
  height: 30px;
  border: none;
  padding: 5px;
  box-shadow: inset  0 0 5px rgba(0, 0, 0, 0.8);
}

.date-distance-container{
  display: flex;
  flex: 0 1;
  flex-direction: row;
  margin: 20px 15px 20px 0 ;
}

.distance{
  flex: 1 1 50px;
  width: 100%;
  max-width: 50px;
  height: 30px;
  border: none;
  padding: 5px;
  box-shadow: inset  0 0 5px rgba(0, 0, 0, 0.8);
}

.date{
  height: 30px;
  margin: 0 10px 0 0;
  border:none;
  font-size: 11px;
  padding: 5px;
  max-width: 90px;

  box-shadow: inset  0 0 5px rgba(0, 0, 0, 0.8);
}

.date-dist-inner-container{
  flex-direction: column;
  font-size: 13px;
  color: white;
}
.selectAllButton{
  z-index: 1;
  margin: 10px 0 10px 0;
  padding: 5px;
  width: 70%;
  max-width: 200px;
}

.category-grid-container{

  z-index: 1;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: space-evenly;
  align-items: center;
}

.category-grid{

  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.category-button{
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  max-width: 55px;
  max-height: 55px;
  padding: 10px;
  border: none;
  margin: 6px
}

.blue1{
  background-color: rgba(173, 232, 244, 0.5)
}

.blue2{
  background-color: rgba(0, 180, 216, 0.5)
}

.blue3{
  background-color: rgba(0, 119, 182, 0.5)
}

.blue4{
  background-color: rgba(2, 62, 138, 0.5);
}

.category-image{
  width: 90%;
  height: auto;
}

.searchEventButton {
  height: 50px;
  width: 230px;
  margin: 10px 0 0 0;
}

.eventifire-img{

  width: 50vw;
  padding: 0 30px 0 10px;
  max-width: 400px;
}

.logo{

  width: 7vw;
  max-width: 60px;
}

.map-box {

  display: flex;
  flex: 1 1 auto;
  box-shadow: inset  0 0 15px rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 5px;
}

.map-container{
  width: 100%;
  height: 100%;
  box-shadow: 3px 3px 15px  1px #274E5C;
  border-radius: 3px;
}

.results-titel{
  z-index: 1;
  font-size: 45px;
  font-family: "Bradley Hand", serif;
  padding: 10px 15px 15px 15px;
  color: white;
}

.results-container{
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 180px;
  height: 100%;
  width: 100%;

  overflow-y: auto;
  box-shadow:  inset 0 0 15px rgba(0, 0, 0, 0.8);
  padding: 15px;
}

.results-container::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: lightgrey;
}

.results-container::-webkit-scrollbar-thumb {
  background: hsl(195, 100%, 35%);
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
}

.results-container::-webkit-scrollbar-corner {
  background: #000;
}
.search-result{
  z-index: 1;
  min-height: 130px;
  max-height: 130px;
  max-width: 240px;
  padding: 10px;
  margin: 0 0 10px 0;
  background-color: lightgrey;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
  list-style-type: none;
  font-family: Arial, serif ;
  border: none;
}

.search-result-date-container{
  display: flex;
  flex-direction: row;
  font-size: 13px;
}

.search-result-date{
  padding: 3px;
}


/* ------------------------------- 3. Media Queries -------------------------------- */

@media screen and (max-height: 700px) {

  .category-button {
    max-width: 50px;
    padding: 5px;
    margin: 3px;
  }
}

@media screen and (max-width: 1200px) {

  .inner-main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow-y: auto;
  }


  .leftSideBar-container{
    min-width: 290px;
    padding: 10px;
    box-shadow: inset 0 0 20px rgba(5, 8, 8, 0.5 )
  }
  .leftSideBar-container-shadow{
    box-shadow: none;
  }

  .middle-section-container {
    padding: 0 30px 0 30px
  }


  .rightSideBar-container{
    flex-direction: row;
    flex: 0 1;
    width: 100%;
    box-shadow: none;
    padding: 0;
  }

  .rightSideBar-container-shadow {
    box-shadow: none;
  }

  .results-container{
    flex-direction: row;
    flex: 1 1 780px;
    height: 180px;
    overflow-x: auto;
    box-shadow: none;
  }

  .search-result{

    max-width: 200px;
    min-width: 150px;
    min-height: 100%;
    margin: 0 15px 0 0
  }

}

@media screen and (max-width: 850px) {

  header{
    padding: 10px;
  }

  nav ul li{
    padding: 5px;
    align-self: center;
    text-align: center;
  }

  .leftSideBar-middleSection-container {
    flex-direction: column;
    align-items: center;

  }

  .rightSideBar-container {
    display: none;
  }

  .leftSideBar-container {
    order: 1;
    max-width: 500px;
    width: 100%;
    max-height: 350px;
    padding: 0;
    box-shadow: 0 0 15px rgba(5, 8, 8, 0.5)
  }

  form {
    max-width: 500px;
    padding: 10px 10px 10px 10px;
  }

  .date-distance-container {
    display: flex;
    flex: 0 1;
    flex-direction: row;
    margin: 5px 5px 5px 0;
  }

  .selectAllButton {
    margin: 5px
  }

  .category-grid {

    height: auto;
    margin: 0 5px 0 0;
  }

  .category-button {
    max-width: 60px;
    height: auto;
    flex-wrap: wrap;
  }

  .title-logo-container {
    max-height: 70px;
    max-width: 500px;
    padding: 8px;
  }

  .map-box {

    padding: 10px;
  }

  @media screen and (max-width: 480px) {

    .category-button {
      max-width: 50px;
      padding: 5px;
      margin: 3px;
    }

    .leftSideBar-container {

      max-height: 310px;

    }
  }

  .middle-section-container {
    padding: 0 10px 10px 10px;

  }

  @media screen and (max-width: 380px) {

    .category-button {
      max-width: 45px;
    }
  }
}


@media screen and (max-width: 850px) {


}


